.custom-banner {
  position: relative;
  display: flex;
  isolation: isolate;
}

.custom-banner__media {
  position: relative;
  width: 100%;
  height: var(--custom-banner-height);
  overflow: hidden;
}

.custom-banner__media picture,
.custom-banner__media img {
  display: block;
  width: 100%;
  height: 100%;
}

.custom-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.custom-banner__placeholder {
  width: 100%;
  height: 100%;
}

.custom-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  pointer-events: none;
}

.custom-banner__inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.custom-banner__content {
  width: 100%;
  max-width: 52rem;
  padding: 3rem 0;
}

.custom-banner--align-left .custom-banner__content {
  margin-right: auto;
  text-align: left;
}

.custom-banner--align-center .custom-banner__content {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.custom-banner--align-right .custom-banner__content {
  margin-left: auto;
  text-align: right;
}

.custom-banner__heading {
  margin: 0;
}

.custom-banner__heading + .custom-banner__description {
  margin-top: 1.5rem;
}

.custom-banner__description {
  margin: 0;
}

.custom-banner__description :last-child {
  margin-bottom: 0;
}

.custom-banner__button {
  margin-top: 2rem;
}

@media screen and (max-width: 749px) {
  .custom-banner__content {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .custom-banner__content {
    max-width: 42rem;
  }
}

@media screen and (min-width: 990px) {
  .custom-banner__content {
    max-width: 58rem;
  }
}
